table.tabular-alt
        {
            text-align: center;
            width: 80%;
        }
        table.tabular-alt tr.alt
        {
            background-color: whiteSmoke;
        }
        table.tabular-alt thead tr
        {
            background: url("http://lh6.ggpht.com/_Ap6665TAgI8/TKvTnETeGNI/AAAAAAAAAGg/cuGUYegktCg/nav_bar.jpg") repeat-x scroll left top transparent !important;
            color: #CCCCCC;
            font-size: 11px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        table.tabular-alt tr
        {
            background-color: gainsboro;
        }
        .tabular-alt tbody tr td div
        {
            margin-left: 100px;
        }
        .tabular-alt
        {
            color: #000000;
        }