@charset "utf-8";
/* Style for zoomed image */
#zoom_container {
  width:200px;
  height:200px;
  overflow:hidden;
  position:absolute;
  text-align:left;
  /*-moz-box-shadow: 1px 1px 10px #afafaf;
  -webkit-box-shadow: 1px 1px 10px #afafaf;
  box-shadow: 1px 1px 10px #afafaf;*/
}
  
#zoom_img {
  position:absolute;
  margin:0;
  padding:0;
  border:1px solid #093;
}


