.map{
	width: 600px;
	height: 650px;
	background: url('/images/site/map.png') 0 0 no-repeat;
	position: relative;
	margin-left: 0px;
}

.map .overlay{
	width: 600px;
	height: 650px;
	background: url('/images/site/map.png') 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.map img{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.map .nom_region{
	position: fixed;
	border-radius: 2px;
	border: 1px solid #BCCD33;
	color: #283623;
	background: #BCCD33;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	box-shadow: 0 2px 3px #999;
	padding: 5px 16px;
	display: inline-block;
	top: 0;
	left: 0;
	z-index: 3;
}