#menudeplo_slidedown_menu li{
	list-style-type:none;
	position:relative;
}
#menudeplo_slidedown_menu ul{
	margin:0px;
	padding:0px;
	position:relative;
}

#menudeplo_slidedown_menu div{
	margin:0px;
	padding:0px;
}
/* 	Layout CSS */
#menudeplo_slidedown_menu{		
	width:177px;	
	visibility:visible;
	margin-left:auto;
	margin-right:auto;
	font-family:Verdana, Geneva, sans-serif;
}

/* All A tags - i.e menu items. */
#menudeplo_slidedown_menu a{
	color:#666;
	text-decoration:none;
	display:block;
	clear:both;
	width:175px;
	padding-left:2px;
	outline:none;
}
#menudeplo_slidedown_menu a:hover{
	color:#A80034;
	/*font-style:italic;*/
}
/*
A tags 
*/
#menudeplo_slidedown_menu .slMenuItem_depth1{	/* Main menu items */
	margin-top:5px;
	border-bottom:1px solid #333;
	height:22px;
	text-align:left;
	font-size:16px;
}
#menudeplo_slidedown_menu .slMenuItem_depth2{	/* Sub menu items */
	text-align:left;
	font-weight:bold;
	color:#666;
	margin-top:1px;
	font-size:12px;
	height:20px;
}
	#menudeplo_slidedown_menu .brands .slMenuItem_depth2{	/* Sub menu items for "Les marques" */
		text-align:left;
	}
	#menudeplo_slidedown_menu .brands .slMenuItem_depth2 span{	/* Sub menu items for "Les marques" */
		float:right;
	}

#menudeplo_slidedown_menu .slMenuItem_depth3{	/* Sub menu items */
	margin-top:1px;
	/*font-style:italic;*/
	color:#333;
	font-size:10px;
}	
#menudeplo_slidedown_menu .slMenuItem_depth4{	/* Sub menu items */
	margin-top:1px;
	color:#333;
}	
#menudeplo_slidedown_menu .slMenuItem_depth5{	/* Sub menu items */
	margin-top:1px;
}

/* UL tags, i.e group of menu utems. 
It's important to add style to the UL if you're specifying margins. If not, assign the style directly
to the parent DIV, i.e. 

#menudeplo_slidedown_menu .slideMenuDiv1

instead of 

#menudeplo_slidedown_menu .slideMenuDiv1 ul
*/

#menudeplo_slidedown_menu .slideMenuDiv1 ul{
	padding:1px;
}
#menudeplo_slidedown_menu .slideMenuDiv2 ul{
	margin-left:5px;
	padding:1px;
}
#menudeplo_slidedown_menu .slideMenuDiv3 ul{
	margin-left:10px;
	padding:1px;
}
#menudeplo_slidedown_menu .slMenuItem_depth4 ul{
	margin-left:15px;
	padding:1px;
}